<!DOCTYPE html>
<html lang="fr">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,600,300italic|Cherry+Cream+Soda' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../bower/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../bower/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../styles/layout.css">
</head>
<body>
<h1><%=blog.title %></h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
    	<% for(var i = 0; i < blog.latest.length; i++) { %>
    	  <% var entry = blog.latest[i] %>
    	  <section class="blog">
    	    <header>
              <h2><a href="<%= entry.name %>"><%- entry.meta.title %></a></h2>
			  <details><%= entry.meta.author %> &mdash; <%- moment(entry.meta.date).fromNow() %></details>
		    </header>
			<article>
			  <%- blog.latest[i].summary %>
			</article>
      	</section>
    	<% } %>
    </div>
  </div>
</div>
</body>
</html>
